# Object files
*.o
*.lst
*.map
*.sym

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.gb
*.gbc

# project files
*.sublime-*
*.*#*
*.pro
*.epf